<section class="jumbotron" id="landing-jumbotron">
  <div class="container text-center">
    <h1>Find Hackathons in the Bay Area</h1>
    <p>A simple, neat list of all the hackathons in the Bay Area. Sort and view by type, or submit your own hackathon to the list!</p>
    <p>
      <a href="#hackathons" class="btn btn-info btn-lg" role="button">See Hackathons »</a>
      <span class="btn btn-warning btn-lg" disabled="disabled" role="button">(Coming Soon) Submit your own! »</span>
    </p>
  </div>
</section>
{{!-- TODO: Refactor info component --}}
<section class="container" id="hackathons">
  <h2 class="text-center" >Hackathons</h2>
  <hr>
  {{#each hackathon in model}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{hackathon.name}}</strong></h3>
    </div>
    <div class="panel-body">
      {{hackathon.description}}
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>Date &amp; Time:</strong> {{hackathon.date}}</li>
      <li class="list-group-item"><strong>Address:</strong> {{hackathon.address}}</li>
      <li class="list-group-item"><strong>Info Site:</strong> <a {{bind-attr href="hackathon.site"}}>{{hackathon.site}}</a></li>
      <li class="list-group-item"><strong>Signup:</strong> <a {{bind-attr href="hackathon.signup"}}>{{hackathon.signup}}</a></li>
      {{!-- {{#link-to 'signup'}}{{signup}}{{/link-to}} --}}
    </ul>
  </div>
  {{/each}}
</section>